.acc-container {
  padding-bottom: 4%;
}

.acc-heading {
  color: rgb(94, 2, 2)
}

.table-container {
  margin: auto;
  width: 60%;
  background-color: rgb(22, 22, 22);
}

.cart_title {
  margin-top: 0;

}

div.cart_title>h1 {
  color: black;
}

.gprice {
  position: absolute;
  right: 7%;
}

.totalPrice {
  position: absolute;
  right: 5%;
}

.friend-list {
  background-color: gray;
  width: 50%;
  max-width: 50%;

}

.lib-heading {
  font-size: 4rem;
  font-weight: 600;
  color: white;
  margin-top: 4%;
  margin-bottom: 4%;
}

.flist-item {
  padding: 4%;
}