@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Miriam+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

:root {
    --light: #f4f4f4;
    --main: #5e0202
}

.tab1 {
    /* background-color: #282c34; */

    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
}

.gameHeading {
    font-family: 'Libre Baskerville', serif;
    color: rgb(94, 2, 2);
    font-size: 3.0em;
    padding: 2%;
}

.descp-heading {
    background-color: var(--main);
    font-weight: 800;
    color: black
}

.gamePage {
    display: flex;
    flex-direction: column;
}

.game_images {
    height: 60%;
    width: 60%;
}

.infotable {
    padding: 2%;

}

.itable {
    height: 21em;
    border: solid 1px black;
    color: black;
    font-size: 1.53em;
    width: 30%;
    margin-left: 6%;
    text-align: center;
    background: rgb(90, 92, 92);
}


.gameDetails {
    padding: 50px;

    margin-left: 300px;
    margin-right: 300px;

    text-align: center;
}

.buy-heading {
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    color: rgb(8, 8, 58);
}

.pricing {
    border: 2px solid #000;
    border-radius: 15px;
    -moz-border-radius: 15px;
    margin-top: 5%;
    margin-left: 35%;
    padding: 1%;
    width: 30%;
    background-color: rgb(94, 2, 2);
}

.p2 {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.priceval {
    margin-top: 7px;
    border: solid black 1px;
    color: black;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: x-large;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.review {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(244, 244, 244);
}

.comments {
    background-color: var(--light);
    border: solid black 1px;
    width: '100%';
    padding: 1%;
}

.user-comment {
    background-color: var(--light);
    color: black;
}

.cust-rating {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}

.comment-heading {
    padding: 1%;
    font-family: 'Miriam Libre', sans-serif;
    font-size: xx-large;
}

.buy-button {
    border: 0;
    margin-top: 1.5%;
    padding: 4px;
    padding-left: 3%;
    padding-right: 3%;
    height: 3.2rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(2, 118, 2, 0.328);

}

.buy-button:hover {

    background-color: green;


}

.custdetail {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    padding: 1%;

}